{% assign articles = site.data.articles | sort: 'date' | reverse %}
<ul>
  {% for article in articles %}
    <li>
      <p>
        <em>{% include short_date_german.html date=article.date %}</em>, {{article.origin}}:
        <a href="{{article.url}}" target="_blank"><em>„{{article.title}}“</em></a>{% if article.author %} von {{article.author}}{% endif %}
        {% if article.pdf %}
          <a href="/downloads/{{article.pdf}}" class="subtle" target="_blank" download="">[PDF]</a>
        {% endif %}
      </p>
    </li>
  {% endfor %}
</ul>
