{% assign events = site.data.events | sort: 'date' %}
{% assign events_found = false %}
{% if include.display == 'past' %}
  {% assign events = events | reverse %}
{% endif %}
{% for event in events %}
  {% if include.display == 'upcoming' %}
    {% assign event_class = "event-upcoming" %}
    {% if site.time >= event.date %}{% continue %}{% endif %}
  {% elsif include.display == 'past' %}
    {% assign event_class = "event-past" %}
    {% if site.time < event.date %}{% continue %}{% endif %}
  {% endif %}
  {% assign events_found = true %}
  <div id="{% include event_id event=event %}" class="event-item {{event_class}} event-{{event.title | slugify}}" data-event-date="{{ event.date | date_to_xmlschema }}">
    {% if event.image %}
      <img class="event-image" src="/images/{{event.image}}.png" alt="Image for {{event.title}}">
    {% endif %}
    <div class="event-title">{{event.title}}</div>
    <a href="{% if event.place_url %}{{event.place_url}}{% else %}{{event.url}}{% endif %}">{{event.place}}</a><br>
    {{event.address}} (<a href="{{event.map_url}}">Karte</a>)<br>
    {% include long_date_german.html date=event.date %}<br>
    {{event.time}}<br>
    {% if event.url %}<a href="{{event.url}}" target="_blank">{{event.url}}</a><br>{% endif %}
  </div>
{% endfor %}
{% unless events_found %}
  {% if include.display == 'upcoming' %}
  <p>Im Moment sind keine weitere Veranstaltungen geplannt.</p>
  {% elsif include.display == 'past' %}
  <p>Keine vergangene Veranstaltungen.</p>
  {% endif %}
{% endunless %}
