<footer>
  <hr>
  <p>
    <small>
      {{ site.info.name }}<br>
      <a href="{{ site.info.address.url }}" target="_blank">
        {{ site.info.address.street }},
        {{ site.info.address.plz }} {{ site.info.address.city }}
      </a>
      <br>
      {% include info_email_link.html %}
      <br>
      <a href="{{ site.info.social.facebook.url }}" target="_blank">
        {% include trim_url url=site.info.social.facebook.url %}
      </a>
      <br>
      <a href="{{ site.info.platform.url }}" target="_blank">
        {% include trim_url url=site.info.platform.url %}
      </a>
    </small>
  </p>
</footer>
