<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title and page.url != '/' %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="Description" content="{% if page.description %}{{ page.description }} | {% endif %}{{ site.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{% include busted_url url="/external/bootstrap-3.3.2-dist/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% include busted_url url="/external/lightbox2-2.8.1/css/lightbox.css" %}">
  <link rel="stylesheet" href="{% include busted_url url="/css/custom.css" %}">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% include email_script %}

  {% include favicons.html %}

</head>
