<br>
<section>
  <h1 id="newsletter-form">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    Newsletter
  </h1>

  <p>
    Über Fortschritte und konkrete Entscheidungen informieren wir regelmässig über einem monatlichen Newsletter. Melde dich an:
  </p>

  <br>

  <!-- Begin MailChimp Custom Signup Form -->
  <form action="//basimilch.us8.list-manage.com/subscribe/post?u=e346ea2606a494dc5e1c225a9&amp;id=412910e11c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal" target="_blank" novalidate>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-4 control-label">E-Mail-Adresse</label>
      <div class="col-sm-8">
        <input type="email" name="EMAIL" class="form-control" id="inputEmail" placeholder="E-Mail-Adresse">
        <!-- <input type="email" value="" name="EMAIL" class="required form-control email" id="mce-EMAIL">--></div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-4 control-label">Vorname</label>
      <div class="col-sm-8">
        <input type="text" name="FNAME" class="form-control" id="inputVorname" placeholder="Vorname">
        <!-- <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">--></div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-4 control-label">Familienname</label>
      <div class="col-sm-8">
        <input type="text" name="LNAME" class="form-control" id="inputFamilienname" placeholder="Familienname">
        <!-- <input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME">--></div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-4 control-label">Postleitzahl</label>
      <div class="col-sm-8">
        <input type="number" name="PLZ" class="form-control" id="inputPostleitzahl" placeholder="Postleitzahl">
        <!-- <input type="number" name="PLZ" class="required form-control" value="" id="mce-PLZ">
        -->
        <span id="helpBlock" class="help-block">
          Die Postleitzahl dient lediglich als Hinweis für die Plannung der Depots.
        </span>
      </div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_e346ea2606a494dc5e1c225a9_412910e11c" tabindex="-1" value=""></div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-default">Newsletter abonieren</button>
      </div>
    </div>
  </form>
  <!-- End MailChimp Custom Signup Form -->

</section>