---
layout: body_wrapper
---

<div class="banner-label hidden"><a href="/genossenschaft/#abo-bestellen">Hier anmelden!</a></div>
<div class="banner-label" style="background: #CE603B; color: white; font-weight: bold; margin-top: 0px; margin-left: -160px; font-size: 16px;"><span data-href="https://www.100-days.net/de/projekt/kaese-fuer-eine-schoene-welt">Booste uns auf 100-days!</span></div>
<div class="wrapper">
  {% include header.html %}
  {% include debug_trace.html %}
  {% include next_event_alert.html %}
  {% include content_header.html %}
  <section>
    <div class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </div>
  </section>
  {% include content_footer.html %}
  {% include footer.html %}
</div>
