---
layout: compress
---

<!doctype html>
<html lang="de-CH">

  {% include head.html %}

  {% assign body-class = page.permalink | replace:'/',''  | prepend: 'page-' %}
  <body class="{{ body-class }}">

    {% include back-to-top-button.html %}

    <div class="wrapper">

      {% include header.html %}

      {% include debug-trace.html %}

      {% include content-header.html %}

      <section>
        <div class="page-content">
          <div class="wrap">
            {{ content }}
          </div>
        </div>
      </section>

      {% include content-footer.html %}

      {% include footer.html %}

    </div>

    <script src="/javascripts/scale.fix.js"></script>
    <script src="/external/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/custom.js"></script>

    {% include google-analytics-script.html %}

    {% include content-header-images-preloader.html %}

  </body>
</html>
